<div class="background-index <%=@randomback%>"></div>
<div class="container-background"></div>

<div class="container">
  <div class="row mt-5"></div>
  <div class="row mt-4 mb-3">
    <h1 class="col d-flex justify-content-center">Edit your Tick<h1>
  </div>
  <div class = "col d-flex justify-content-center">
  <div class="card mb-5">
    <div class="card-body">
      <%= form_for @tick do |f|%>
        <div class="form-group">
        <%= f.date_field :date, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.select :climbtype, options_for_select([["Sport"],["Trad"],["Boulder"],["Other"]]),{}, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.number_field :grade, in: 1..39, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.select :style, options_for_select([["Repeat"],["RP"],["Flash"],["OS"],["Dogged"],["DNF"]]), {}, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.text_field :crag, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.text_area :comment, placeholder: "Comments", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.text_area :beta, placeholder: "Beta", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.submit "Update", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
  </div>

</div>

