<%= form_with url: new_tick_path, method: :get, local: true do |f| %>
  <%= f.label "How many climbs would you like to add?" %>
  <br>
  <%= f.number_field('val[number]', in: 1..10) %>
  <br>
  <%= f.submit "Add" %>
<% end %>
<br>

<table>
<tr>
  <th>Date |</th>
  <th>Name of Climb  |</th>
  <th>Type of Climb  |</th>
  <th>Grade of Climb  |</th>
  <th>Style of Climb  |</th>
  <th>Crag  |</th>
  <th>Comments  |</th>
  <th>Beta  |</th>
  </tr>
<% @ticks.each do |tick|%>
  <tr>
  <th><%= tick.date %></th>
  <th><%= tick.name %></th>
  <th><%= tick.climbtype %></th>
  <th><%= tick.grade %></th>
  <th><%= tick.style %></th>
  <th><%= tick.crag %></th>
  <th><%= tick.comment %></th>
  <th><%= tick.beta %></th>
  <th><%= link_to "Edit", edit_tick_path(tick.id) %></th>
  <th><%= link_to "Delete", tick_path(tick.id), method: :delete, data: {confirm: "Are you sure?"} %></th>
  </tr>
<% end %>
</table>
