<h1>Ticks#new</h1>

<%= form_with url: ticks_path, local: true do |f| %>
<% n = 1 %>
<table>
<% @number.times do%>
  <tr>
    <th>
      <%= label_tag("Date of Ascent:") %>
      <%= date_field_tag("#{n}[date]") %>
    </th>  
    <th>
      <%= label_tag("Name of Climb:") %>
      <%= text_field_tag("#{n}[name]") %>
    </th>  
    <th>
      <%= label_tag("Type of Climb") %>
      <%= select_tag("#{n}[climbtype]", options_for_select([["Sport"],["Trad"],["Boulder"],["Other"]])) %>
    </th>  
    <th>
      <%= label_tag("Grade of Climb") %>
      <%= number_field_tag("#{n}[grade]", in: 1..39) %>
    </th>  
    <th>
      <%= label_tag("Style of Ascent:") %>
      <%= select_tag("#{n}[style]", options_for_select([["Repeat"],["RP"],["Flash"],["OS"],["Dogged"],["DNF"]])) %>
    </th>  
    <th>
      <%= label_tag("Crag") %>
      <%= text_field_tag("#{n}[crag]") %>
    </th>  
    <th>
      <%= label_tag("Comments") %>
      <%= text_area_tag("#{n}[comment]") %>
    </th>  
    <th>
      <%= label_tag("Beta") %>
      <%= text_area_tag("#{n}[beta]") %>
    </th> 
  </tr>   
  <% n += 1 %>  
<%end%>
</table>
<%= f.submit("Add") %>
<%end%>