<div class="background-index <%=@randomback%>"></div>
<div class="container-background"></div>
<div class="spacer"></div>


<div class="row w-100 m-auto text-white">
  <div class="col">
  <h1 class="">Workouts</h1>
  <%= form_for :search, url: tick_search_path, local: true do |f| %>
    <div class="form-row d-flex align-items-center w-50">
      <%= f.label "Search by:" %>
      <%= f.select :searchtype, options_for_select([["Date",:date],["Name",:name],["Type",:climbtype],["Grade",:grade],["Style",:style],["Crag",:crag],["Comments",:comment],["Beta",:Beta]]),{}, {class: "form-control col ml-2 mb-1"} %>
      <%= f.text_field :searchterm, class: "form-control col w-50 ml-1 mb-1" %>
      <%= f.submit "Search", class: "btn btn-primary col ml-1 mb-1" %>
    </div>
  <% end %>
  <%= render partial: 'common/workout_show', locals: {workout: @selected_workout}%>
  </div>
  
  <div class="col">
    <div class="row mt-1">
      <div class="nav nav-tabs col" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-white" id="nav-profile-tab" data-toggle="tab" href="#nav-allworkouts" role="tab" aria-controls="nav-allworkouts" aria-selected="false">All Workouts</a>
        <% if current_user %>
        <a class="nav-item nav-link text-white" id="nav-home-tab" data-toggle="tab" href="#nav-myworkouts" role="tab" aria-controls="nav-myworkouts" aria-selected="true">My Workouts</a>
        <a class="nav-item nav-link text-white" id="nav-contact-tab" data-toggle="tab" href="#nav-favorites" role="tab" aria-controls="nav-favorites" aria-selected="false">Favorites</a>
        <%= link_to "New Workout", new_workout_path, class: "btn btn-primary ml-auto mr-1 mb-1"%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="tab-content mr-4" id="nav-tabContent">

        <div class="tab-pane fade show" id="nav-myworkouts" role="tabpanel" aria-labelledby="nav-myworkouts-tab">
          <div class="card-columns">
            <% if @myworkouts%>
              <%@myworkouts.each do |workout| %>
                <div class="card m-1">
                  <div class= "card-header d-flex align-items-center justify-content-between">
                    <span class="badge badge-primary"><%= workout.category %></span>
                    <% if current_user %>
                      <% if current_user.favorite_workouts.find_by(workout_id: workout.id) %>
                        <%= link_to remove_favorite_path(favparams: {user_id: current_user.id, workout_id: workout.id}), method: "post" do %>
                          <%= octicon "star-fill", :height => 24, class: "favorite" %>
                        <% end %>
                      <% else %>
                        <%= link_to add_favorite_path(favparams: {user_id: current_user.id, workout_id: workout.id}), method: "post" do %>
                          <%= octicon "star-fill", :height => 24, class: "notfavorite" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="card-body">
                  <%= link_to workout_path(workout.id) do %>
                    <h5 class="card-title"><%= workout.title %></h5>
                  <% end %>
                    <h6 class="card-subtitle mb-2 text-muted">Author: <%= workout.user.name %></h6>
                    <p class="card-text"><%= workout.description.chars.first(50).join %>...</p>
                    <p class="card-text"><small class="text-muted"><%= workout.created_at.to_date %></small></p>
                  </div>
                  
                </div>
              <% end %>
            <% else %>
              <div class= "card m-1">
                <div class="card-body">
                  <h2 class="card-title">You haven't created any workouts yet!</h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-pane fade show active" id="nav-allworkouts" role="tabpanel" aria-labelledby="nav-allworkouts-tab">
          <div class="card-columns">
            <% if @allworkouts%>
              <% @allworkouts.each do |workout| %>
                <div class="card m-1">
                  <div class= "card-header d-flex align-items-center justify-content-between">
                    <span class="badge badge-primary"><%= workout.category %></span>
                    <% if current_user %>
                      <% if current_user.favorite_workouts.find_by(workout_id: workout.id) %>
                        <%= link_to remove_favorite_path(favparams: {user_id: current_user.id, workout_id: workout.id}), method: "post" do %>
                          <%= octicon "star-fill", :height => 24, class: "favorite" %>
                        <% end %>
                      <% else %>
                        <%= link_to add_favorite_path(favparams: {user_id: current_user.id, workout_id: workout.id}), method: "post" do %>
                          <%= octicon "star-fill", :height => 24, class: "notfavorite" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="card-body">
                  <%= link_to workout_path(workout.id) do %>
                    <h5 class="card-title"><%= workout.title %></h5>
                  <% end %>
                    <h6 class="card-subtitle mb-2 text-muted">Author: <%= workout.user.name %></h6>
                    <p class="card-text"><%= workout.description.chars.first(50).join %>...</p>
                    <p class="card-text"><small class="text-muted"><%= workout.created_at.to_date %></small></p>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class= "card m-1">
                <div class="card-body">
                  <h2 class="card-title">No workouts have been created!</h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites-tab">
          <div class="card-columns">
          <% if @favworkouts.size > 0 %>
            <% @favworkouts.each do |workout| %>
              <div class="card m-1">
                <div class= "card-header d-flex align-items-center justify-content-between">
                  <span class="badge badge-primary"><%= workout.category %></span>
                  <% if current_user %>
                    <% if current_user.favorite_workouts.find_by(workout_id: workout.id) %>
                      <%= link_to remove_favorite_path(favparams: {user_id: current_user.id, workout_id: workout.id}), method: "post" do %>
                        <%= octicon "star-fill", :height => 24, class: "favorite" %>
                      <% end %>
                    <% else %>
                      <%= link_to add_favorite_path(favparams: {user_id: current_user.id, workout_id: workout.id}), method: "post" do %>
                        <%= octicon "star-fill", :height => 24, class: "notfavorite" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-body">
                <%= link_to workout_path(workout.id) do %>
                  <h5 class="card-title"><%= workout.title %></h5>
                <% end %>
                  <h6 class="card-subtitle mb-2 text-muted">Author: <%= workout.user.name %></h6>
                  <p class="card-text"><%= workout.description.chars.first(50).join %>...</p>
                  <p class="card-text"><small class="text-muted"><%= workout.created_at.to_date %></small></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class= "card m-1">
              <div class="card-body">
                <h2 class="card-title">You haven't favorited any workouts yet!</h2>
              </div>
            </div>
          <% end %>
          </div>
        </div>
        
    </div>
  </div>
</div>